@import 'abstract/variables';
@import 'abstract/mixin';

.footer {
  margin-top: 10rem;
  color: $color-white;
  background-color: $tertiary-color;
  padding: 20rem 0;
  font-size: 1.4rem;
  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }
  &__logo {
    width: 15 rem;
    height: auto;
  }
  &__navigation {
    display: inline-block;
  }
  &__list {
    list-style: none;
    padding: 0;
  }
  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      color: $secondary-color;
      background-color: $tertiary-color;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
    }

    &:hover,
    &:active {
      color: $color-white;
      transform: rotate(5deg) scale(1.3);
    }
  }
  &__copyright {
    text-align: center;
    p {
        margin-top: 0;
      }


    float:right;
  }
}