<footer class="footer">
  <div class="footer__logo-box">
      <img class="header__logo" src="assets/images/logo.png" alt="Full Logo" class="footer__logo" />
  </div>
  <div class="container">
    <div class="container__row">
      <div class="container__col-sm-12 container__col-md-6">
        <div class="footer__navigation  u-border-top">
          <ul class="footer__list">
            <li class="footer__item"><a href="#" class="footer__link">Home</a></li>
            <li class="footer__item"><a href="#" class="footer__link">About Me</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Home</a></li>
          </ul>
        </div>
      </div>
      <div class="container__col-sm-12 container__col-md-6">
          <div class="footer__copyright">
            <p>Copyright &copy; 2019 Lorenzo Franceschini - Built with Angular and custom SASS</p>
            <a class="btn btn--orange" href="#">Keep in touch</a>
          </div>
      </div>
    </div>
  </div>
</footer>