<div class="container" style="transform: skewY(6.5deg);">
  <div class="container__row">
    <div class="container__col-sm-12 container__col-md-3">
      <div class="skill-box">
        <i class="fab fa-html5 html5 fa-4x icon--orangered"></i>
        <h3 class="heading--tertiary">Web Development</h3>
        <p class="skill-box__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores eligendi numquam magni
          est enim optio iure earum quo accusantium laudantium repudiandae error cupiditate, totam
          doloribus in aliquam maxime itaque! Hic.
        </p>
      </div>
    </div>
    <div class="container__col-sm-12 container__col-md-3">
      <div class="skill-box">
        <i class="fab fa-html5 html5 fa-4x icon--orangered"></i>
        <h3 class="heading--tertiary">Web Development</h3>
        <p class="skill-box__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores eligendi numquam magni
          est enim optio iure earum quo accusantium laudantium repudiandae error cupiditate, totam
          doloribus in aliquam maxime itaque! Hic.
        </p>
      </div>
    </div>
    <div class="container__col-sm-12 container__col-md-3">
      <div class="skill-box">
        <i class="fab fa-html5 html5 fa-4x icon icon--html"></i>
        <h3 class="heading--tertiary">Web Development</h3>
        <p class="skill-box__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores eligendi numquam magni
          est enim optio iure earum quo accusantium laudantium repudiandae error cupiditate, totam
          doloribus in aliquam maxime itaque! Hic.
        </p>
      </div>
    </div>
    <div class="container__col-sm-12 container__col-md-3">
      <div class="skill-box">
        <i class="fab fa-html5 html5 fa-4x icon--orangered"></i>
        <h3 class="heading--tertiary">Web Development</h3>
        <p class="skill-box__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores eligendi numquam magni
          est enim optio iure earum quo accusantium laudantium repudiandae error cupiditate, totam
          doloribus in aliquam maxime itaque! Hic.
        </p>
      </div>
    </div>
  </div>
</div>
