@import 'abstract/variables';
@import 'abstract/mixin';

.card {
  position: relative;
  min-height: 300px;
  max-width: 90%;
  @include create-mq($bp-sm) {
    max-width: 60%;
  }
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-shadow: 2px 5px 19px 3px rgba(0, 0, 0, 0.48);


  &__header {
    color: #fff;
    min-height: 90px;
    background: linear-gradient(to right, $tertiary-color 0%, #0e0e0e 100%);
  }
  &__body {
    color: #000;
    min-height: 460px;
    padding-top: 200px;

    background-color: #fff;
  }
  &__image-box {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      border: 0.6rem solid #fff;
      max-width: 200px;
      border-radius: 100%;
    }
  }
}
