<div class="box" [@scrollAnimation]="state">
  <div class="card">
    <div class="card__header"></div>
    <div class="card__image-box">
      <img src="assets/images/lorenzobn.jpg" alt="" />
    </div>
    <div class="card__body">
      <h1 class="heading--subtitle">
        Programmatore per passione.
      </h1>
      <hr class="hr-light" />
      <h2 class="heading--tertiary">
        La programmazione da il meglio di se quando realizziamo che è un arte, con i suoi tempi,
        modi e pazzie. Per questo, essere un programmatore come hobby, a volte regala soddisfazioni
        che non possiamo trovare in un ufficio.
      </h2>
    </div>
  </div>
</div>
