<div class="large-banner">
  <!-- <img
      class="large-banner__image"
      src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-roman-sunset-77415821.jpg?sharp=10&vib=20&w=1920"
    /> -->
  <div class="large-banner__text-content">
    <h1 class="large-banner__title large-banner__title--secondary-color">Lorenzo Franceschini</h1>
    <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s" />
    <h2 class="large-banner__subtitle">Web Hobbyist</h2>
    <p class="large-banner__description">
      Improve myself with study and share :)
    </p>
    <a class="btn btn--large btn--orange btn--rounded btn--animation" href="#">About Me</a>
  </div>
</div>