<header class="header" appScrolling darkClass="header--dark" lightClass="header--light">
  <div class="u-wrapper">
    <div class="header__logo-container">
      <img class="header__logo" src="assets/images/logo.png" alt="" />
    </div>
    <div class="header__menu-content">
      <div class="header__btn-container">
        <a class="btn btn--animation btn--small" href="#">Get in Touch</a>
      </div>

      <nav class="primary-nav primary-nav--pull-right">
        <ul>
          <li>
            <a href="#">Menu 1</a>
          </li>
          <li>
            <a href="#">Menu 2</a>
          </li>
          <li>
            <a href="#">Menu 3</a>
          </li>
          <li>
            <a href="#">Menu 4</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<section class="large-banner">
  <!-- <img
      class="large-banner__image"
      src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-roman-sunset-77415821.jpg?sharp=10&vib=20&w=1920"
    /> -->
  <div class="large-banner__text-content">
    <h1 class="large-banner__title large-banner__title--secondary-color">Lorenzo Franceschini</h1>
    <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s" />
    <h2 class="large-banner__subtitle">Web Hobbyist</h2>
    <p class="large-banner__description">
      Study, Research and Share for Improve myself :)
    </p>
    <a class="btn btn--large btn--orange btn--rounded btn--animation" href="#">About Me</a>
  </div>
</section>

<app-home></app-home>

<footer class="footer">
  <p>
    Copyright &copy; 2019 Lorenzo Franceschini
    <a class="btn btn--orange" href="#">Keep in touch</a>
  </p>
</footer>
