<header>
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzlWeXbJvlhChzW5eUVlp4g8IJQQSe_rQnmVd-yUiRgLiMtMWgeg"
    alt=""
  />
  <a href="#">Get in Touch</a>
  <ul>
    <li>
      <a href="#">Menu 1</a>
      <a href="#">Menu 2</a>
      <a href="#">Menu 3</a>
      <a href="#">Menu 4</a>
    </li>
  </ul>
</header>
<section class="large-banner">
  <img
    src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-roman-sunset-77415821.jpg?sharp=10&vib=20&w=1920"
  />
  <div class="large-banner__text-content">
    <h1 class="large-banner__title">Rome.</h1>
    <h2 class="large-banner__subtitle">The most beautiful city.</h2>
    <p>We are planning the best Angular Meetup in Italy.</p>
    <p><a href="#">Enjoy us today</a></p>
  </div>
</section>
