@import 'variables';
@import 'mixin';

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  @include tablet-portait {
    &--dark {
      background-color: rgba($tertiary-color, 0.95);
      transition: all 0.2s;
    }

    &--light {
      background-color: rgba($primary-color, 0.3);
      transition: all 0.2s;
    }
    position: fixed;
    background-color: rgba($primary-color, 0.3);
  }

  &__menu-content {
    display: none;
    @include tablet-portait {
      display: block;
    }
  }

  padding: 1rem 0;
  &__logo-container {
    position: absolute;
    top: 0;
    background-color: lighten($primary-color, 50%);
    padding: 3rem 2.5rem;
    left: 50%;
    transform-origin: 50% 0%;
    transform: translateX(-50%) scale(0.5);
    @include tablet-portait {
      left: auto;
      transform: translateX(0);
    }
  }
  &__logo {
    max-width: 10rem;
  }
  &__btn-container {
    float: right;
  }
}
.large-banner {
  position: relative;
  height: 95vh;
  min-height: 45rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(189, 248, 177, 0.521),
      rgba(245, 110, 110, 0.493)
    ),
    url(../assets/images/bg000.jpg);
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  &__text-content {
    margin-top: 8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    @include tablet-portait {
      transform: translateY(-70%);
    }
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: $primary-color;
  }
  &__title {
    font-size: 3.8rem;
    text-shadow: 1px 2px 0 rgba(50, 0, 0, 0.3);
    animation: moveFromTop 1s ease-in;
    backface-visibility: hidden;
    @include tablet-portait {
      font-size: 4.2rem;
    }
    @include tablet-landscape {
      font-size: 4.8rem;
    }
    @include desktop {
      font-size: 5.2rem;
    }
    @include large-desktop {
      font-size: 5.8rem;
    }
    &--secondary-color {
      color: lighten($primary-color, 50%);
    }
  }
  &__subtitle {
    font-size: 2rem;
    text-shadow: 1px 2px 0 rgba(50, 0, 0, 0.3);
    color: #fff;
    @include tablet-portait {
      font-size: 2.8rem;
    }
  }
  &__description {
    color: #fff;
    font-size: 1.6rem;
    @include tablet-portait {
      font-size: 1.875rem;
    }
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
  }
  &--bg {
    max-width: 35rem;
    background-color: rgba(66, 60, 60, 0.486);
  }
}

.primary-nav {
  &--pull-right {
    float: right;
  }
  ul {
    margin: 0;
    padding: 0;
    @include clearfix;
  }
  li {
    list-style: none;
    float: left;
    padding-right: 2rem;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.6rem;
    padding: 0.5rem 0;
  }
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
