@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
// Media Query Manager

/*
0-600px: default
600px-900px: Tablet portrait
900px-1200px: Tablet landscape
1200px- 1800px: Desktop
1800px-+inf: Large Desktop
*/

@mixin tablet-portait {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
